<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8">
	<title>Мій сайт відеокарт</title>
	<link rel="stylesheet" href="static/home/css/home.css">
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/static/home/js/script.js"></script>
</head>
<body>
	<menu>
		<div>
			<div>
				<a href=""><img id="ii" src="/static/home/img/logo.png" alt="GRiFFiN" class="logo" >
				</a>
				<nav>
					<ul class="menu">
						<li>
							<a href="#yk0">Додому</a>
						</li>
						<li>
							<a href="#yk1">Про відеокарти</a>
						</li>
						<li>
							<a href="#yk2">Контакти</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</menu>
	<header id=yk0>
		<div>
			<div class="titles">
				<div class="titles__first">
					Ігрові відеокарти
				</div>
				<h1>
					За доступною ціною!
				</h1>
			</div>
			<a class="button" href="catalog/">Каталог відеокарт</a>
		</div>
	</header>

    <section id="videocard">
		<div id="yk1" class="container">
			<div class="title">
				<h2>
					Про Відеокарти
				</h2>
				<p>
					Джерело інформації Wikipedia 
				</p>
			</div>
		</div>
	</section>

	<section id="characteristics">
		<div class="container">
			<div class="clearfix">
				<div class="characteristics__item">
					<p><br><br><strong style="font-size: 25px">Відеока́рта</strong>(англ. video card, також графічна карта, графічний адаптер, графічний прискорювач) — електронний пристрій, частина комп'ютера, призначена для генерації та обробки зображень з подальшим їхнім виведенням на екран периферійного пристрою. <br>

					Відеокарта зазвичай є платою розширення і вставляється у слот розширення, універсальний (PCI-Express, PCI, ISA, VLB, EISA, MCA) або спеціалізований (AGP), проте відеокарта може бути вбудованою у материнську плату як у вигляді окремого елементу, так і як складову частину північного мосту чипсету або центрального процесора. Відповідно вставлювана називається дискретною, а вбудована — інтегрованою. <br>

					Сучасні відеокарти не обмежуються лише звичайним виведенням зображень, вони мають вбудований графічний мікропроцесор, котрий може здійснювати додаткову їх обробку, звільняючи від цих задач центральний процесор. Також процесор і відокарта працюють разом і є залежними один від одного. Наприклад, усі сучасні відеокарти, що застосовують відеопроцесори AMD/ATi і NVIDIA підтримують OpenGL на апаратному рівні. Останнім часом, разом зі зростанням обчислювальних потужностей графічних процесорів має місце тенденція використовувати обчислювальні можливості графічного процесора для вирішення неграфічних задач. <hr></p>
					<h3>Характеристики:</h3>
					<ul class="characteristic">
						<li><strong>Відеопроцесор</strong>
							<ul>
								<li>Робоча частота відеопроцесора — вимірюється в мегагерцах, тобто мільйонах тактів на секунду. Чим вища частота, тим більше відеопроцесор може обробити даних за одиницю часу.
								</li>
								<li><i>Блоки</i> — частини відеопроцесора, які обчислюють окремі елементи зображення: текстури, вершини, геометрію. Чим більше відповідних блоків, тим швидше процесор виконує операції з елементами зображення. Блоки можуть мати різну частоту, відповідно менша їх кількість компенсується вищою частотою.
								</li>
							</ul>
						</li>
						<li><strong>Відеопам'ять</strong>
							<ul>
								<li><i>Обсяг відеопам'яті</i> — пам'ять використовується для зберігання елементів зображення (текстур, вершин, даних буферів і т. д.) які будуть виведені на монітор. Вимірюється в мегабайтах і гігабайтах. Обсяг не визначає напряму продуктивність відеокарти, а лише в поєднанні з іншими характеристиками. Проте багато комп'ютерних програм вимагають певного мінімуму відеопам'яті, особливо програми для роботи з графікою і відеоігри.
								</li>
								<li>
									<i>Частота відеопам'яті</i> — визначає скільки операцій записування/читання може виконатися за такт. Ця характеристика тісно пов'язана з типом пам'яті, зазвичай використовується спеціальна GDDR. Пізніші типи мають швидшу передачу даних, так GDDR3 повільніша за GDDR5.
								</li>
								<li>
									<i>Розрядність шини</i> — визначає як швидко пам'ять обмінюється даними з відеопроцесором. Вимірюється в бітах: 64, 128, 256, 512 і т. д. Часто виробники компенсують повільність відеопам'яті більшою розрядністю шини, або навпаки — зменшують розрядність, натомість використовують пам'ять з вищою частотою.
								</li>
							</ul>
						</li>
						<li><strong>Охолодження</strong><br>
							Зі зростанням навантаження на відеопроцесор його температура зростає, що призводить до пропуску тактів чи навіть може спричинити деформацію та розплавлення деталей відеокарти. Для уникнення цього використовуються системи охолодження. Їхній дизайн визначається виробником графічного процесора (тоді зветься референсним) або самої відеокарти (кастомний).<ul>
								<li>
								<i>Пасивне</i> — складається з радіатора, який відводить зайве тепло. Чим складніша форма радіатора, тим більшою є його площа і можливості до відведення тепла.
								</li>
								<li>
								<i>Активне</i> — складається з радіатора і кулера, іноді має систему охолодження рідиною: водою чи рідким азотом. Кулер створює потік повітря, який охолоджує радіатор. Потужніші кулери створюють більше шуму, але часто ними можна керувати через спеціальні додатки.
								</li>
							</ul>
						</li>
						<li>Форм-фактор
							<ul>
								<li>
								<i>Низькопрофільні</i> — мають невеликі розміри, займають один слот розширення в ПК (50-60 мм у висоту). Як правило мають порівняно невисоку продуктивність, але можуть встановлюватися в невеликі корпуси, неттопи.
								</li>
								<li id="id1">
								<i>Повнопрофільні</i> — мають великі розміри, декоративні й охолоджувальні кожухи, великі радіатори і кулери, зазвичай займають два слоти розширення.
								</li><hr id="id2">
							</ul>
						</li>
					</ul>
			    </div>
			</div>
		</div>
	</section>

	<section id="videocard">
		<div id="yk2">
			<div class="titlee">
				<h2>
					Контакти
				</h2>
			</div>
		</div>
	</section>
	<footer class="clearfix">
		<div>
			<ul class="footer">
				<li id="cl">Контактні номера:
					<ul>
						<li>0 800 000 000</li>
					</ul>
				</li>
			</ul>
			<ul>
				<li id="cll">Адреса:
					<ul>
						<li>0 800 000 000</li>
					</ul>
				</li>
			</ul>
		</div>
	</footer>
</body>
</html>
