<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8">
	<title>video</title>
	<link rel="stylesheet" href="/static/css/catalog.css">
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/static/js/script.js"></script>
</head>
<body>
	<menu>
		<div>
			<div>
				<a href=""><img id="ii" src="/static/img/logo.png" alt="GRiFFiN" class="logo" >
				</a>
				<nav>
					<ul class="menu">
						<li>
							<a href="#yk0">Додому</a>
						</li>
						<li>
							<a href="#yk1">Про відеокарти</a>
						</li>
						<li>
							<a href="#yk2">Про нас</a>
						</li>
						<li>
							<a href="#yk3"s>Контакти</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</menu>
	<header>
		<div>
			<div>
				
			</div>
		</div>
	</header>
	<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="videocard/" id="title1">ASUS GTX Geforce 1050TI 4GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="/static/img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="home.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="/static/img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="/static/img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="/static/img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
		<section class="clearfix">
		<div class="clearfix">
			<div id="title">
				<a href="Мій сайт відеокарт.html" id="title1">ASUS GTX Geforce 1060 6GB</a>
			</div>
		</div>
	</section>
	<section class="clearfix">
		<div class="clearfix">
			<nav>
				<div>
					<a class="clearfix" id="b"><img src="img/1050ti.jpg" width="300em"></a>
				</div>
				<div>
					<ul id="d">
						<li>Графічний чип: GeForce GTX 1050 Ti</li>
						<li>Частота пам'яті:</li>
						<li>Обсяг пам'яті:</li>
						<li>Частота ядра:</li>
						<li>Розрядність шини пам'яті:</li>
						<li>Тип пам'яті:</li>
						<li>Розміри:</li>
						<li>Роз'єми:</li>
						<li>Додаткове живлення:</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>
</body>
</html>